<?xml version="1.0"?>

<model>
  <name>differential_robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>David Brown</name>
    <email>david.brown@inria.fr</email>
  </author>

  <description>
    A custom diff-drive robot for evaluating namoros
  </description>
</model>